* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
}

body {
  font-family: Inter, sans-serif;;
  line-height: 1.2;
  font-weight: 400;
  width: 100%;
  height: 100%;
}
